
/* ==========================================================================
   put your styles here
   ========================================================================== */

#main-container > div{
  float:left;
  padding-left: 0.5em;
  padding-top: 0.5em;
}

#header {
  min-width: 90%;

  min-height: 40px;
  background-color: lightblue;
  border: solid 1px #000;
  padding: 1em;
}

#left-sidebar {
  max-width: 20%;
  min-height: 800px;

  float:left;
  background-color: lightblue;
  border: solid 1px #000;
  padding: 1em;
}


#main-container {
  min-width:80%;
  min-height: 800px;
  background-color: lightblue;
  border: solid 1px #000;
}

