
/* ==========================================================================
   put your styles here
   ========================================================================== */

* { Box-sizing: border-box; }
#main-container > div{
  float:left;
  padding-left: 0.5em;
  padding-top: 0.5em;
}

#header {
  min-width: 100%;
  min-height: 40px;
  background-color: lightblue;
  border: solid 1px #000;
  padding: 1em;
}

#left-sidebar {
  width: 20%;
  min-height: 800px;
  float:left;
  background-color: lightblue;
  border: solid 1px #000;
  padding: 1em;
}


#main-container {
  float: right;
  width:80%;
  min-height: 800px;
  background-color: lightblue;
  border: solid 1px #000;
}

@media (max-width: 600px) {
  div#left-sidebar { 
    min-width:100%;
    background-color: lightblue;
    min-height: 0px;
    float: right;
  }
  div#main-container {
    width: 100%;
  }
  /* Clearfix trick to reorder via CSS, also consider jQuery */
  div#left-sidebar:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
  div#left-sidebar{ display: inline-block; }
  /* start commented backslash hack \*/
  * html #left-sidebar{ height: 1%; }
  div#left-sidebar { display: block; background-color:lightblue;}
  /* close commented backslash hack */
}

